
<div *ngIf="posts$ | async as post; else loading">
<div class="post">
    <div class="header">
        <h1>{{post.title}}</h1>
    </div>
    <div class="info">
        <strong>{{post.author}}</strong>
        <small>{{post.date | date: 'dd.MM.yyyy'}}</small>
    </div>
    <div><quill-view-html [content] ="post.text"></quill-view-html></div>
        <button routerLink='/' class="btn-to-main">Go to main</button>
</div>
</div>
<ng-template #loading>

    <p class="text-center">loading...</p>

</ng-template>