<div class="conteiner">
<form class="card" [formGroup]="form" (ngSubmit) = "submit()">
    <h1>Enter</h1>


<div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
</div>

<div class="alert alert-info" *ngIf="message">
    {{message}}
</div>

    <div class="form-control">
    <label for="email">Email</label>
    <input type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid" >
       <small *ngIf="form.get('email').errors.email">
           This email is not valid
        </small>
       <small *ngIf="form.get('email').errors.required">
           Enter the email
        </small>

    </div>
    </div>
<div class='form-control'>
    <label for="password">Password</label>
    <input type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">

        <small  *ngIf="form.get('password').errors.required">
            Enter th password
        </small>
        <small *ngIf="form.get('password').errors.minlength">
            Small password {{form.get('password').errors.minlength.requiredlength}},
            your password has {{form.get('password').errors.minlength.actualLength}} symbols

        </small>
      
    </div>

</div>

    <button
     type="submit" 
     class="btn btn-primary"
    [disabled] = "form.invalid || submitted"
      >log in</button>
</form>
</div>